option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /api/health
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/health
    HealthCheckInterval: 15
    HealthCheckTimeout: 5
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:environment:proxy:nginx:
    ProxyTimeout: 120 