commands:
  01_install_git_lfs:
    command: |
      yum -y install git-lfs
      git lfs install
      git lfs pull
    test: "[ ! -f /usr/bin/git-lfs ]"
  02_ensure_git_lfs:
    command: |
      if [ ! -f /usr/bin/git-lfs ]; then
        yum -y install git-lfs
        git lfs install
        git lfs pull
      fi
    test: "[ -f /usr/bin/git-lfs ]" 