files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/eb-docker-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/docker-ps.log
      /var/log/docker-events.log
      /var/log/eb-docker-build.log

commands:
  01_create_log_files:
    command: |
      touch /var/log/docker-ps.log
      touch /var/log/docker-events.log
      touch /var/log/eb-docker-build.log
      
container_commands:
  01_show_dockerfile:
    command: "cat Dockerfile || true"
    ignoreErrors: true 