files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_use_prod_dockerfile.sh":
    mode: "000755" 
    owner: root
    group: root
    content: |
      #!/bin/bash
      cd /var/app/staging
      # Use the production Dockerfile instead
      if [ -f "Dockerfile.prod" ]; then
        cp Dockerfile.prod Dockerfile
      fi 